# Python Introduction I

This notebook will introduce you to the basics of the python programming language.

## Comments

In [3]:
# This is a comment.
# Comments help readers understand how your code functions.
# Comments can also remind you of what a line of code does or work that still needs to be accomplished.

In [4]:
# The print() command displays information on your screen.
print("Hello World!")

Hello World!

## Variables

Python uses 'variables' to store information in the computer's memory for later use.

- Variable names can contain only letters, numbers, and underscores (__this is an underscore__).

- Variable names can begin with a letter or an underscore, but never a number.

- Spaces are not allowed in variable names, but underscores can be used as spaces.

- Do not use Python keywords or built-in function names as variable names.

#### NOTE: Try to keep your variable names lower-case, short, and descriptive!

In [5]:
# This is how you declare a variable in Python
message = "Hello World!"

In [6]:
# The print command displays information on your screen.
print(message)

Hello World!

In [7]:
# Be careful not to misspell variable names
print(mesage)

NameError: name 'mesage' is not defined

## Data Types

Python allows you to work several different types of data.

Here are the basic data types that we will work with in this class:
- numeric: integers and floats
- sequential: string, list, tuple
- boolean: true and false
- dictionary

### Strings

In [16]:
# A string is a series of characters
print("This is a string") # using double quotes
print('This is a also a string')  # also using single quotes

# This flexibility allows you to use quotes and apostrophes within strings
print('I told my mother, "I will be home after school!"')

This is a string
This is a also a string
I told my mother, "I will be home after school!"

In [10]:
# Python has built-in operations that work on strings
# Here are examples of changing the case of a string
name = "john doe"
print(name.title()) # Title Case
print(name.upper())
print(name.lower())

John Doe
JOHN DOE
john doe

In [14]:
# You can also use variable names in strings
first_name = 'john'
last_name = "doe"
full_name = f"{first_name} {last_name}" # This is called an f-string
print(full_name)
print(f"Hello, {full_name.title()}! Welcome to our class!")

john doe
Hello, John Doe! Welcome to our class!

### Numbers

In [20]:
# An integer is a whole number
# You can add, subtract, multiply, and divide integers
print(type(1))
print(1+1)
print(1-1)
print(1*1)
print(1/1) # In Python, division returns a floating point number

<class 'int'>
2
0
1
1.0

In [18]:
# You can also use exponents
print(3**2)
print(3**3)

9
27

In [19]:
# Python also follows the order of operations (PEMDAS)
print(3 + 4 * 5)
print((3 + 4) * 5)

23
35

In [23]:
# Floating point numbers contain decimals
# You can add, subtract, multiply, and divide integers
print(type(1.0))
print(1.0 + 1.0)
print(1.0 - 1.0)
print(1.0 * 1.0)
print(1.0/1.0)

<class 'float'>
2.0
0.0
1.0
1.0

In [24]:
# You can use undercores to replace commas in numbers
million = 1_000_000
print(million) # The value will not be affected

1000000

In [25]:
# You can assign values to more than one variable in a single line
one, two, three = 1, 2, 3
print(one)
print(two)
print(three)

1
2
3

### Booleans

In [26]:
# A boolean value is either true or false
is_boy = True
is_girl = False
print(is_boy)
print(is_girl)

True
False

### Lists

In [27]:
# A list is a collection of items in a particular order.
# You can add any data type to a list.
# Items in your list do not need to be related.
my_list = ['a_string', 1, 1.0, True]
print(my_list)

['a_string', 1, 1.0, True]

In [36]:
# Lists are ordered collections
# You access items in a list with their position (or index)
classes = ['english', 'physics', 'history', 'art', 'calculus', 'programming']
print(classes[0])
print(classes[0].title())

english
English

In [37]:
print(classes[1]) # second item in the list
print(classes[3]) # fourth item in the list
print(classes[-1]) # last item in the list

physics
art
programming

In [38]:
# Changing items in a list
classes[3] = 'theater'
print(classes)

['english', 'physics', 'history', 'theater', 'calculus', 'programming']

In [39]:
# Adding items to a list
classes.append('art') # the append() method adds items to the end of a list
print(classes)

['english', 'physics', 'history', 'theater', 'calculus', 'programming', 'art']

In [40]:
# Inserting items in a list
classes.insert(3, 'art')
print(classes)

['english', 'physics', 'history', 'art', 'theater', 'calculus', 'programming', 'art']

In [41]:
# Removing an item from a list
del classes[7]
print(classes)

['english', 'physics', 'history', 'art', 'theater', 'calculus', 'programming']

In [42]:
# The pop() method allows you to remove the last item in a list and store it in a variable
last_class = classes.pop()
print(last_class)
print(classes)
print(f"I am excited to learn {last_class}")

programming
['english', 'physics', 'history', 'art', 'theater', 'calculus']
I am excited to learn programming

In [43]:
# Pop any item from a list
fourth = classes.pop(3)
print(f"I had to drop {fourth} because I had too many classes")

I had to drop art because I had too many classes

In [44]:
# Remove an item from the list by its name
print(classes)
classes.remove('theater') # the remove() method only drops the first occurence of a value from the list
print(classes)

['english', 'physics', 'history', 'theater', 'calculus']
['english', 'physics', 'history', 'calculus']

In [45]:
# Sort the items in a list alphabetically
print(classes)
classes.sort()
print(classes)

['english', 'physics', 'history', 'calculus']
['calculus', 'english', 'history', 'physics']

In [46]:
# Sort the items in a list in reverse alphabetical order
print(classes)
classes.sort(reverse = True)
print(classes)

['calculus', 'english', 'history', 'physics']
['physics', 'history', 'english', 'calculus']

In [48]:
# The sort() method changes the order of the list permanently
# The sorted() method changes the order of the list temporarily
print("Here is the original list:")
print(classes)
print()
print("Here is the sorted list:")
print(sorted(classes))
print()
print("Here is the original list again:")
print(classes)

Here is the original list:
['physics', 'history', 'english', 'calculus']

Here is the sorted list:
['calculus', 'english', 'history', 'physics']

Here is the original list again:
['physics', 'history', 'english', 'calculus']

In [50]:
# Reverse the order of a list
my_list = ['grapes', 'apples', 'pears', 'bananas']
print(my_list)
my_list.reverse() 
print(my_list)

['grapes', 'apples', 'pears', 'bananas']
['bananas', 'pears', 'apples', 'grapes']

In [52]:
# Find the length of a list
print(len(my_list)) # Python counts the items in a list starting with one

4

## Lab Assignment

1) Assign a message to a variable, and then print that message.

2) Use a variable to represent a person's name, and print a message to that person. Your message should be simple.

3) Use a variable to represent a person's name, and then print that person's name in lowercase, uppercase, and title case.

4) Write addition, subtraction, multiplication, and division operations that each result in the number 8. Be sure to enclose your operations in print() calls to see the results.

5) Store the names of five of your friends in a list called names. Print each person's name by accessing each element in the list one at a time.

6) Add two more names to the end of your friends list.

7) Add one name to the middle of your friends list.

8) Print the name of your friend list in alphabetical order.

9) Remove two names from your friend list.

10) Count the number of friends in your list. Print the total on your screen.

## Congratulations! You just finished your first Python programming assignment!