# Python Introduction - Lesson 3

In this lesson, we will review the information that we have learned in the previous sessions.

First, you learned that a **variable** is used to store information for later use in your program. For example, you can store your first name in a variable called first_name. Later, you can print the variable to the screen, without having to re-type your name.

In [ ]:
# Example of using a variable

first_name = "Jeremy"
print(first_name)

Save your first name, middle initial, and last name as variables. Use the following variable names:
- first_name
- middle_initial
- last_name

In [ ]:
# TODO

Now, print your variables for first name, middle initial, and last name to the screen.

In [ ]:
# TODO

## Data Types

Also, you have learned about the basic data types:
- Integer (counting numbers)
- Float (decimal numbers)
- String (words)
- Boolean (true or false)

In [ ]:
# Example

my_int = 10
my_float = 3.0
my_string = "hello"
my_bool = True

You can use the "type" command to check the data type of your variable.

In [ ]:
# Example

print(type(my_int))

Come up with your own variable names and save each of the four data types.

In [ ]:
# TODO

Now, print the type of each one of your variables. Your print statement should return each data type to the screen.

In [ ]:
# TODO

## Data Structure

You have also learned about the "List" which is a basic data structure. 

The List is a container for data. 

In Python, a list can store any of the data types, and even mix data types.

In [ ]:
# Example

my_list = [first_name, my_int, my_float, my_string, my_bool]
print(my_list)

Create your own list that includes the first name of five of your friends. First, save each friends name as a variable.

For example:

friend_one = "jesse"
friend_two = "jennifer"

Then add the friend variables to your friends list, and print the list.

In [ ]:
# TODO

## For Loop

You also learned how to work with a list using a "for loop".

In [ ]:
# Example

for item in my_list:
    print(item)

Use a foor loop to print out the names in your friend list.

In [ ]:
# TODO

## If-Else Statements

If-Else statements allow you to check if a condition exists before you take an action.

In [ ]:
# Example

cars = ["bmw", "lexus", "audi", "toyata", "honda"]

for car in cars:
    if car == "ford":
        print(car)
    else:
        print("nope")

For practice, create a list of your favorite places to eat.

In [ ]:
# TODO

If "Burger King" is in the list of your favorite places to eat, print "yes". Otherwise, print "no".

In [ ]:
# TODO

## Using multiple lists

A "nested for loop" allows you to work with multiple lists.

In [ ]:
# Example
cars = ["bmw", "lexus", "audi", "toyata", "honda"]
trucks = ["ford", "dodge", "chevrolet", "honda","gmc"]

for car in cars:
    for truck in trucks:
        if car == truck:
            print("yes")
        else:
            print("nope")

Make a copy of the friend list for the person sitting beside you. Using a nested for loop to check if you and your neighbor have friends with the same first name.

In [ ]:
# TODO

## Functions

A function is a piece of code that is designed to do one specific job.

In [ ]:
# Example One

# Create the function
def print_friends(friend_list): # friend_list is called a parameter
    for friend in friend_list:
        print(friend)

# Create the list
friends = ["jessica", "mark", "susan", "chris", "tom"]

# Call the function
print_friends(friends)

In [ ]:
# Example Two

def add_numbers(first_num, second_num):
    return first_num + second_num # 'return' is used to store the result in a variable

answer = add_numbers(2155, 3786)
print(answer)

Create a function to print the names of the items in one of our lists.

In [ ]:
# TODO

Create a function to subtract two numbers.

In [ ]:
# TODO

# Lab Assignment

1) Define a function that takes two lists and returns true if both lists share an item and false otherwise.

In [ ]:
# TODO

2) Define a function that takes the first and last name as parameters, and returns the first and last name formatted in title case as a single word.

In [ ]:
# TODO

3) Define a function that squares two numbers and returns their sum.

In [ ]:
# TODO