# Python Introduction II

This notebook will introduce you to the basics of the python programming language.

## Data Structures

### Lists

In [1]:
# A list is a collection of items in a particular order.
# You can add any data type to a list.
# Items in your list do not need to be related.
my_list = ['a_string', 1, 1.0, True]
print(my_list)

['a_string', 1, 1.0, True]

In [2]:
# Lists are ordered collections
# You access items in a list with their position (or index)
classes = ['english', 'physics', 'history', 'art', 'calculus', 'programming']
print(classes[0])
print(classes[0].title())

english
English

In [3]:
print(classes[1]) # second item in the list
print(classes[3]) # fourth item in the list
print(classes[-1]) # last item in the list

physics
art
programming

In [4]:
# Changing items in a list
classes[3] = 'theater'
print(classes)

['english', 'physics', 'history', 'theater', 'calculus', 'programming']

In [5]:
# Adding items to a list
classes.append('art') # the append() method adds items to the end of a list
print(classes)

['english', 'physics', 'history', 'theater', 'calculus', 'programming', 'art']

In [6]:
# Inserting items in a list
classes.insert(3, 'art')
print(classes)

['english', 'physics', 'history', 'art', 'theater', 'calculus', 'programming', 'art']

In [7]:
# Removing an item from a list
del classes[7]
print(classes)

['english', 'physics', 'history', 'art', 'theater', 'calculus', 'programming']

In [8]:
# The pop() method allows you to remove the last item in a list and store it in a variable
last_class = classes.pop()
print(last_class)
print(classes)
print(f"I am excited to learn {last_class}")

programming
['english', 'physics', 'history', 'art', 'theater', 'calculus']
I am excited to learn programming

In [9]:
# Pop any item from a list
fourth = classes.pop(3)
print(f"I had to drop {fourth} because I had too many classes")

I had to drop art because I had too many classes

In [10]:
# Remove an item from the list by its name
print(classes)
classes.remove('theater') # the remove() method only drops the first occurence of a value from the list
print(classes)

['english', 'physics', 'history', 'theater', 'calculus']
['english', 'physics', 'history', 'calculus']

In [11]:
# Sort the items in a list alphabetically
print(classes)
classes.sort()
print(classes)

['english', 'physics', 'history', 'calculus']
['calculus', 'english', 'history', 'physics']

In [12]:
# Sort the items in a list in reverse alphabetical order
print(classes)
classes.sort(reverse = True)
print(classes)

['calculus', 'english', 'history', 'physics']
['physics', 'history', 'english', 'calculus']

In [13]:
# The sort() method changes the order of the list permanently
# The sorted() method changes the order of the list temporarily
print("Here is the original list:")
print(classes)
print()
print("Here is the sorted list:")
print(sorted(classes))
print()
print("Here is the original list again:")
print(classes)

Here is the original list:
['physics', 'history', 'english', 'calculus']

Here is the sorted list:
['calculus', 'english', 'history', 'physics']

Here is the original list again:
['physics', 'history', 'english', 'calculus']

In [14]:
# Reverse the order of a list
my_list = ['grapes', 'apples', 'pears', 'bananas']
print(my_list)
my_list.reverse() 
print(my_list)

['grapes', 'apples', 'pears', 'bananas']
['bananas', 'pears', 'apples', 'grapes']

In [15]:
# Find the length of a list
print(len(my_list)) # Python counts the items in a list starting with one

4

### Looping

In [16]:
# Loops allow you to take the same action (or actions) for each item in the list
classes = ['english', 'physics', 'history', 'art', 'calculus', 'programming']

# Here is how to loop through the 'classes' list
for item in classes: # 'item' is a temporary variable that you can give any name you'd like that isn't reserved
    print(item) # prints each item in the classes list

english
physics
history
art
calculus
programming

In [20]:
# You can do just about anything with each item in the loop
# You can also write as many lines of code as you'd like inside the loop
# You can also write additional code after your loop

for my_class in classes:
    print(f"{my_class.upper()} is awesome!")

# the '\n' tells the computer to skip a line before printing the next statement
# the '\' is called an escape character and has several other uses in programming
print("\nThat is the end of the loop")

ENGLISH is awesome!
PHYSICS is awesome!
HISTORY is awesome!
ART is awesome!
CALCULUS is awesome!
PROGRAMMING is awesome!

That is the end of the loop

In [21]:
# Python's range() function makes it easy to generate a series of numbers

for value in range(1,5): # doesn't include the last number '5'
    print(value)

1
2
3
4

In [22]:
for value in range(1,6):
    print(value)

1
2
3
4
5

In [24]:
# when you wrap list() around a range() it produces a list of numbers

numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [25]:
# we can use range() to tell Python to skip numbers

even_numbers = list(range(2, 11, 2))
print (even_numbers)

[2, 4, 6, 8, 10]

In [26]:
# here is a simple function to square numbers using what you have learned so far

squares = []
for value in range(1,11): # Which numbers will this call generate?
    square = value ** 2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
# can we shorten the previous code?

squares = []
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Simple Statistics Using Lists

In [28]:
# Find the minimum number in a list
print(min(squares))

# Find the maximum number in a list
print(max(squares))

# Find the sum of all numbers in a list
print(sum(squares))

1
100
385

### List Comprehensions

In [30]:
# List comprehensions all you to generate the same list in just one line of code
squares = [value ** 2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Slicing a List

In [33]:
classes = ['english', 'physics', 'history', 'art', 'calculus', 'programming']
print(classes[0:3])

['english', 'physics', 'history']

In [34]:
print(classes[1:4])

['physics', 'history', 'art']

In [35]:
print(classes[:4])

['english', 'physics', 'history', 'art']

In [36]:
print(classes[2:])

['history', 'art', 'calculus', 'programming']

In [37]:
print(classes[-3:])

['art', 'calculus', 'programming']

In [38]:
# we can also loop through slices of a list
for my_class in classes[-3:]:
    print(my_class)

art
calculus
programming

### Copying a List

In [39]:
# To copy a list, make a slice that includes the entire original list
classes_copy = classes[:]
print(classes_copy)

['english', 'physics', 'history', 'art', 'calculus', 'programming']

In [42]:
# can you prove that these two lists are separate?
print(classes_copy == classes)
classes.append('shop')
classes_copy.append('tennis')
print(classes_copy == classes)

True
False

In [43]:
print(f"Here is the classes list: {classes}")
print(f"Here is the classes_copy list: {classes_copy}")

Here is the classes list: ['english', 'physics', 'history', 'art', 'calculus', 'programming', 'shop']
Here is the classes_copy list: ['english', 'physics', 'history', 'art', 'calculus', 'programming', 'tennis']

In [44]:
# If we had set classes = classes_copy, we would not produce two separate lists.

## Lab Assignment

1) Create a list of the names of your teachers. Loop through the list and print the names in title case.

2) Create two lists. One list will have the names for three of your favorite musicians. The other list will have the names for your favorite song that they produced. Loop through the artists and songs lists, and print the name of the artist in title case followed by the name of the song in title case.

Example: "Michael Jackson: Thriller"

Hint: You will need to use nested for loops.